/* Main window */
QMainWindow {
    background-color: black;
    border: none;
}

/* Push buttons */
QPushButton {
    background-color: green;
    color: lime;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px;
}
QPushButton:hover {
    background-color: darkgreen;
}

/* Labels */
QLabel {
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

/* Sliders */
QSlider {
    background: black;
}
QSlider::groove:horizontal {
    background: darkgray;
    height: 8px;
}
QSlider::handle:horizontal {
    background: green;
    width: 16px;
    border-radius: 8px;
}

/* Spinbox for FloatSlider */
QDoubleSpinBox {
    background-color: black;
    color: lime;
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
}
QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
    background-color: green;
    border: none;
    width: 16px;
    height: 16px;
}
QDoubleSpinBox::up-arrow, QDoubleSpinBox::down-arrow {
    border: none;
    width: 8px;
    height: 8px;
}

/* Combo box */
QComboBox {
    background-color: black;
    color: lime;
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
}

QComboBox QAbstractItemView {
    background-color: darkgreen;
    color: lime;
}

/* For the selected item */
QComboBox::item {
    color: lime;
    background-color: black;
}

/* For the highlighted item */
QComboBox::item:selected {
    background-color: green;
    color: lime;
}

/* For the drop-down button */
QComboBox::drop-down {
    background-color: green;
    border: none;
}

/* Checkboxes */
QCheckBox {
    color: lime;
}

/* Line edit (QLineEdit) for preset input */
QLineEdit {
    background-color: black;
    color: lime;  /* Text color */
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
}

/* Scroll Area */
QScrollArea {
    background-color: black;
    border: none;
}

/* Scroll Area's Scroll Bar */
QScrollBar:vertical {
    background: darkgray;
    width: 10px;
}
QScrollBar::handle:vertical {
    background: green;
    min-height: 20px;
    border-radius: 5px;
}
